## Importing Libraries and Dataset

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/MyDrive/Banglore House Prediction/BHP_Cleaned_Data.csv'
df = pd.read_csv(path)
df.shape

(11300, 178)

In [ ]:
# pd.set_option("display.max_columns",None)
# pd.set_option("display.max_rows",None)

In [ ]:
df

,size_bhk,total_sqft,bath,balcony,price,price_per_sqft,availability,area_type_Built-up Area,area_type_Carpet Area,area_type_Plot Area,...,location_Varthur,location_Vidyaranyapura,location_Vijayanagar,location_Vittasandra,location_Whitefield,location_Yelachenahalli,location_Yelahanka,location_Yelahanka New Town,location_Yeshwanthpur,location_other
0,2.0,1056.0,2.0,1.0,39.07,3699.810606,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4.0,2600.0,5.0,3.0,120.00,4615.384615,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,1440.0,2.0,3.0,62.00,4305.555556,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3.0,1521.0,3.0,1.0,95.00,6245.890861,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2.0,1200.0,2.0,1.0,51.00,4250.000000,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11295,5.0,3453.0,4.0,0.0,231.00,6689.834926,1,1,0,0,...,0,0,0,0,1,0,0,0,0,0
11296,4.0,3600.0,5.0,2.0,400.00,11111.111111,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
11297,2.0,1141.0,2.0,1.0,60.00,5258.545136,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11298,4.0,4689.0,4.0,1.0,488.00,10407.336319,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11299,1.0,550.0,1.0,1.0,17.00,3090.909091,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Split Dataset in train and test

In [ ]:
X = df.drop("price",axis=1)
Y = df['price']

print('Shape of x = ' , X.shape)
print('Shape of y= ', Y.shape)

Shape of x =  (11300, 177)
Shape of y=  (11300,)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, random_state=51)

print('Shape of X_train = ', X_train.shape)
print('Shape of Y_train = ', Y_train.shape)
print('Shape of X_test = ', X_test.shape)
print('Shape of Y_test = ', Y_test.shape)

Shape of X_train =  (8475, 177)
Shape of Y_train =  (8475,)
Shape of X_test =  (2825, 177)
Shape of Y_test =  (2825,)

## Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X_train)
X_train = sc.transform(X_train)
X_test = sc.transform(X_test)

# Machine Learning Model Training

## Linear Regression- ML Model Training

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error

lr = LinearRegression()
lr_lasso = Lasso()
lr_ridge = Ridge()

In [ ]:
def rmse(y_test, y_pred):
  return np.sqrt(mean_squared_error(y_test, y_pred))

In [ ]:
lr.fit(X_train, Y_train)
lr_score = lr.score(X_test, Y_test)
lr_rmse = rmse(Y_test, lr.predict(X_test))
print('Score = ', lr_score)
print('RMSE = ', lr_rmse)

Score =  0.939262238892707
RMSE =  18.021658322342017

In [ ]:
lr_sc = lr.score(X_train, Y_train)
lr_sc

0.9440187933996391

In [ ]:
# Lasso
lr_lasso.fit(X_train, Y_train)
lr_lasso_score = lr_lasso.score(X_test, Y_test)
lr_lasso_rmse = rmse(Y_test, lr_lasso.predict(X_test))
print('Score = ', lr_lasso_score)
print('RMSE = ', lr_lasso_rmse)

Score =  0.9359850363944618
RMSE =  18.50146478582429

## Support Vector Machine

In [ ]:
from sklearn.svm import SVR
svr = SVR()
svr.fit(X_train, Y_train)
svr_score = svr.score(X_test, Y_test)
svr_rmse = rmse(Y_test, svr.predict(X_test))
print('Score = ', svr_score)
print('RMSE = ', svr_rmse)

Score =  0.5034500153324932
RMSE =  51.52842265341406

## Random Forest Regressor

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor()
rfr.fit(X_train, Y_train)
rfr_score = rfr.score(X_test, Y_test)
rfr_rmse = rmse(Y_test, rfr.predict(X_test))
print('Score = ', rfr_score)
print('RMSE = ', rfr_rmse)

Score =  0.9960243510854596
RMSE =  4.6107266404281635

In [ ]:
rfr.predict(X_train)

array([134.31   ,  74.556  ,  37.61395, ...,  41.0095 , 225.68   ,
        48.0076 ])

In [ ]:
Y_train

1202    135.00
5571     75.00
6230     37.62
280      56.00
1671     54.21
         ...
1460     30.00
1733     56.41
1760     41.00
485     225.00
2105     48.00
Name: price, Length: 8475, dtype: float64

##XGBoost

In [ ]:
import xgboost
xgb_reg = xgboost.XGBRegressor()
xgb_reg.fit(X_train, Y_train)
xgb_reg_score = xgb_reg.score(X_test, Y_test)
xgb_reg_rmse = rmse(Y_test, xgb_reg.predict(X_test))
print('Score = ', xgb_reg_score)
print('RMSE = ', xgb_reg_rmse)

Score =  0.9938925153439621
RMSE =  5.714741025198279

In [ ]:
print(pd.DataFrame([{'Model':'Linear Regression', 'Score':lr_score, 'RMSE':lr_rmse},
                    {'Model':'Lasso', 'Score':lr_lasso_score, 'RMSE':lr_lasso_rmse},
                    {'Model':'Support Vector Machine', 'Score':svr_score, 'RMSE':svr_rmse},
                    {'Model':'Random Forest', 'Score':rfr_score, 'RMSE':rfr_rmse},
                    {'Model':'XGBoost', 'Score':xgb_reg_score, 'RMSE':xgb_reg_rmse}],
                   columns = ['Model', 'Score', 'RMSE']))

                    Model     Score       RMSE
0       Linear Regression  0.939262  18.021658
1                   Lasso  0.935985  18.501465
2  Support Vector Machine  0.503450  51.528423
3           Random Forest  0.996024   4.610727
4                 XGBoost  0.993893   5.714741

## Cross Validation

In [ ]:
from sklearn.model_selection import KFold, cross_val_score
cvs = cross_val_score(rfr, X_train, Y_train, cv = 10)
print(cvs)
print(np.mean(cvs))

[0.99857306 0.99887833 0.99614509 0.9965744  0.99778075 0.99734108
 0.99891946 0.99819195 0.99499575 0.998251  ]
0.9975650866297849

In [ ]:
cvs_xgb_reg = cross_val_score(xgb_reg, X_train, Y_train, cv = 10)
print(cvs_xgb_reg)
print(np.mean(cvs_xgb_reg))

[0.99709564 0.99690721 0.99397977 0.99574217 0.99593776 0.99576323
 0.99801056 0.99795435 0.99545338 0.99612551]
0.9962969577962835

## Hyper Parameter Tuning

In [ ]:
# Number of trees
n_estimators = [100, 230, 300, 400]

# Maximum depth of the trees
max_depth = [9, 18, 27, 39]

# Minimum number of samples required to split an internal node
min_samples_split = [2, 6, 10, 15]

# Minimum number of samples required to be at a leaf node
min_samples_leaf = [1, 5, 10, 15]

# Number of features to consider for the best split
max_features = ['auto', 'sqrt', 'log2']

In [ ]:
# Make parameters
parameters = {'n_estimators':n_estimators,
              'max_depth':max_depth,
              'min_samples_split':min_samples_split,
              'min_samples_leaf':min_samples_leaf,
              'max_features':max_features
}
print(parameters)

{'n_estimators': [100, 230, 300, 400], 'max_depth': [9, 18, 27, 39], 'min_samples_split': [2, 6, 10, 15], 'min_samples_leaf': [1, 5, 10, 15], 'max_features': ['auto', 'sqrt', 'log2']}

In [ ]:
# Define the Random Forest Regressor model
rfr1 = RandomForestRegressor()

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor

# Set up GridSearchCV
# cv is the number of folds for cross-validation
# n_jobs = -1 uses all available processors
rf_grid = GridSearchCV(rfr1,
                       parameters,
                       cv=5,
                       n_jobs=-1,
                       verbose=True)

In [ ]:
# # Fit GridSearchCV to the training data
# # Note: This might take some time depending on the size of your dataset and the complexity of the grid
# rf_grid.fit(X_train, Y_train)

In [ ]:
# # Print the best score and parameters found
# print('Best Score:', rf_grid.best_score_)
# print('Best Parameters:', rf_grid.best_params_)

# Test Model

In [ ]:
list(X.columns)

['size_bhk',
 'total_sqft',
 'bath',
 'balcony',
 'price_per_sqft',
 'availability',
 'area_type_Built-up  Area',
 'area_type_Carpet  Area',
 'area_type_Plot  Area',
 'area_type_Super built-up  Area',
 'location_1st Phase JP Nagar',
 'location_5th Phase JP Nagar',
 'location_6th Phase JP Nagar',
 'location_7th Phase JP Nagar',
 'location_8th Phase JP Nagar',
 'location_9th Phase JP Nagar',
 'location_Abbigere',
 'location_Akshaya Nagar',
 'location_Ambalipura',
 'location_Ambedkar Nagar',
 'location_Amruthahalli',
 'location_Anandapura',
 'location_Ananth Nagar',
 'location_Anekal',
 'location_Anjanapura',
 'location_Ardendale',
 'location_Arekere',
 'location_Attibele',
 'location_BTM 2nd Stage',
 'location_BTM Layout',
 'location_Babusapalaya',
 'location_Balagere',
 'location_Banashankari',
 'location_Banashankari Stage III',
 'location_Bannerghatta',
 'location_Bannerghatta Road',
 'location_Basavangudi',
 'location_Battarahalli',
 'location_Begur',
 'location_Begur Road',
 'location_Bellandur',
 'location_Bhoganhalli',
 'location_Billekahalli',
 'location_Binny Pete',
 'location_Bommanahalli',
 'location_Bommasandra',
 'location_Bommasandra Industrial Area',
 'location_Brookefield',
 'location_Budigere',
 'location_CV Raman Nagar',
 'location_Chandapura',
 'location_Channasandra',
 'location_Chikka Tirupathi',
 'location_Chikkalasandra',
 'location_Choodasandra',
 'location_Cooke Town',
 'location_Dasarahalli',
 'location_Devanahalli',
 'location_Dodda Nekkundi',
 'location_Doddathoguru',
 'location_Domlur',
 'location_EPIP Zone',
 'location_Electronic City',
 'location_Electronic City Phase II',
 'location_Electronics City Phase 1',
 'location_Frazer Town',
 'location_Garudachar Palya',
 'location_Gottigere',
 'location_Green Glen Layout',
 'location_Gubbalala',
 'location_Gunjur',
 'location_HBR Layout',
 'location_HSR Layout',
 'location_Haralur Road',
 'location_Harlur',
 'location_Hebbal',
 'location_Hebbal Kempapura',
 'location_Hegde Nagar',
 'location_Hennur',
 'location_Hennur Road',
 'location_Hoodi',
 'location_Horamavu Agara',
 'location_Horamavu Banaswadi',
 'location_Hormavu',
 'location_Hosa Road',
 'location_Hosakerehalli',
 'location_Hoskote',
 'location_Hosur Road',
 'location_Hulimavu',
 'location_Iblur Village',
 'location_Indira Nagar',
 'location_JP Nagar',
 'location_Jakkur',
 'location_Jalahalli',
 'location_Jigani',
 'location_KR Puram',
 'location_Kadugodi',
 'location_Kaggadasapura',
 'location_Kaggalipura',
 'location_Kaikondrahalli',
 'location_Kalena Agrahara',
 'location_Kalyan nagar',
 'location_Kambipura',
 'location_Kammasandra',
 'location_Kanakapura',
 'location_Kanakpura Road',
 'location_Kannamangala',
 'location_Kasavanhalli',
 'location_Kathriguppe',
 'location_Kaval Byrasandra',
 'location_Kengeri',
 'location_Kengeri Satellite Town',
 'location_Kereguddadahalli',
 'location_Kodichikkanahalli',
 'location_Kogilu',
 'location_Koramangala',
 'location_Kothannur',
 'location_Kothanur',
 'location_Kudlu',
 'location_Kudlu Gate',
 'location_Kumaraswami Layout',
 'location_Kundalahalli',
 'location_Lakshminarayana Pura',
 'location_Lingadheeranahalli',
 'location_Magadi Road',
 'location_Mahadevpura',
 'location_Malleshpalya',
 'location_Malleshwaram',
 'location_Marathahalli',
 'location_Margondanahalli',
 'location_Munnekollal',
 'location_Mysore Road',
 'location_Nagarbhavi',
 'location_Nagavara',
 'location_Nagavarapalya',
 'location_OMBR Layout',
 'location_Old Airport Road',
 'location_Old Madras Road',
 'location_Padmanabhanagar',
 'location_Pai Layout',
 'location_Panathur',
 'location_Parappana Agrahara',
 'location_Poorna Pragna Layout',
 'location_R.T. Nagar',
 'location_Rachenahalli',
 'location_Raja Rajeshwari Nagar',
 'location_Rajaji Nagar',
 'location_Ramagondanahalli',
 'location_Ramamurthy Nagar',
 'location_Rayasandra',
 'location_Sahakara Nagar',
 'location_Sanjay nagar',
 'location_Sarjapur',
 'location_Sarjapur  Road',
 'location_Sarjapura - Attibele Road',
 'location_Seegehalli',
 'location_Singasandra',
 'location_Somasundara Palya',
 'location_Sonnenahalli',
 'location_Subramanyapura',
 'location_TC Palaya',
 'location_Talaghattapura',
 'location_Thanisandra',
 'location_Thigalarapalya',
 'location_Thubarahalli',
 'location_Tumkur Road',
 'location_Uttarahalli',
 'location_Varthur',
 'location_Vidyaranyapura',
 'location_Vijayanagar',
 'location_Vittasandra',
 'location_Whitefield',
 'location_Yelachenahalli',
 'location_Yelahanka',
 'location_Yelahanka New Town',
 'location_Yeshwanthpur',
 'location_other']

In [ ]:
import numpy as np

def predict_house_price(model, X_columns, sc, bath, balcony, total_sqft, bhk, price_per_sqft, availability, area_type, location):
    """
    Predicts the price of a house based on a given model and features.

    Args:
        model: The trained machine learning model.
        X_columns: The columns of the training DataFrame (used to find feature indexes).
        sc: The fitted StandardScaler object for feature scaling.
        bath (float): The number of bathrooms.
        balcony (float): The number of balconies.
        total_sqft (float): The total square footage of the house.
        bhk (float): The number of bedrooms (from the 'size' column).
        price_per_sqft (float): The price per square foot.
        availability (str): The availability status ('Available' or 'Might Not Be Available').
        area_type (str): The area type (e.g., 'Super built-up  Area').
        location (str): The location of the house (e.g., 'Whitefield').

    Returns:
        float: The predicted price of the house in rupees.
    """
    # Create a zero-filled array with the same number of features as the training data.
    # This array will hold the feature values for our single house.
    x = np.zeros(len(X_columns))

    # Assign numerical feature values to their correct positions using dynamic lookup.
    # This avoids hardcoding indexes, which can lead to errors if the column order changes.
    try:
        x[X_columns.get_loc('total_sqft')] = total_sqft
        x[X_columns.get_loc('bath')] = bath
        x[X_columns.get_loc('balcony')] = balcony
        x[X_columns.get_loc('size_bhk')] = bhk # Corrected column name to match DataFrame
        x[X_columns.get_loc('price_per_sqft')] = price_per_sqft
    except KeyError as e:
        print(f"Warning: A numerical column was not found. Please check your data. Error: {e}")
        return None

    # Handle one-hot encoded categorical features using try-except for robustness.
    # We check if the provided category exists in our training data columns.

    # Process 'availability' column.
    if availability == 'Ready To Move':
        try:
            # The dummy column name is 'availability_1' if 'Ready To Move' was one-hot encoded.
            availability_index = X_columns.get_loc('availability_1')
            x[availability_index] = 1
        except KeyError:
            # This should not happen if the 'Ready To Move' category exists.
            pass

    # Process 'area_type' column.
    try:
        # Construct column name, replacing all whitespace with underscores
        area_type_col = f'area_type_{"_".join(area_type.split())}'
        area_type_index = X_columns.get_loc(area_type_col)
        x[area_type_index] = 1
    except KeyError:
        print(f"Warning: area_type '{area_type}' not found in training data. Assuming a value of 0.")
        pass

    # Process 'location' column.
    try:
        # Construct column name, replacing all whitespace with underscores
        location_col = f'location_{"_".join(location.split())}'
        loc_index = X_columns.get_loc(location_col)
        x[loc_index] = 1
    except KeyError:
        print(f"Warning: location '{location}' not found in training data. Assuming the 'other' category.")
        # If location is not found, its value remains 0, which corresponds to the 'other' category
        # (assuming 'other' was the first category dropped).
        pass

    # Reshape the input array to be a 2D array with 1 row for the scaler.
    x_reshaped = x.reshape(1, -1)

    # Scale the input array using the fitted StandardScaler.
    x_scaled = sc.transform(x_reshaped)

    # Make a prediction with the model.
    predicted_price = model.predict(x_scaled)[0]

    # Return the predicted price.
    return predicted_price

In [ ]:
predict_house_price(model=rfr, X_columns=X.columns, sc=sc, bath=5, balcony=3, total_sqft=2600.0, bhk=4, price_per_sqft=4615.384615, availability="Ready To Move", area_type="Super built-up  Area", location="Anjanapura")

Warning: area_type 'Super built-up  Area' not found in training data. Assuming a value of 0.

/usr/local/lib/python3.12/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

np.float64(119.735)

In [ ]:
predict_house_price(model=rfr, X_columns=X.columns, sc=sc, bath=3, balcony=2, total_sqft=1672.0, bhk=3, price_per_sqft=8971.291866, availability="Ready To Move", area_type="Super built-up  Area", location="other")

Warning: area_type 'Super built-up  Area' not found in training data. Assuming a value of 0.

/usr/local/lib/python3.12/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

np.float64(150.45)

In [ ]:
df.head(2)

,size_bhk,total_sqft,bath,balcony,price,price_per_sqft,availability,area_type_Built-up Area,area_type_Carpet Area,area_type_Plot Area,...,location_Varthur,location_Vidyaranyapura,location_Vijayanagar,location_Vittasandra,location_Whitefield,location_Yelachenahalli,location_Yelahanka,location_Yelahanka New Town,location_Yeshwanthpur,location_other
0,2.0,1056.0,2.0,1.0,39.07,3699.810606,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4.0,2600.0,5.0,3.0,120.00,4615.384615,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0

# Save model & load model

In [ ]:
import joblib
# save model
joblib.dump(rfr, 'bangalore_house_price_prediction_model.pkl')
joblib.dump(rfr, 'bangalore_house_price_prediction_rfr_model.pkl')

['bangalore_house_price_prediction_rfr_model.pkl']

In [ ]:
# load model
bangalore_house_price_prediction_rfr_model = joblib.load("bangalore_house_price_prediction_rfr_model.pkl")

In [ ]:
# predict house price
predict_house_price(bangalore_house_price_prediction_rfr_model, X_columns=X.columns, sc=sc, bath=3,balcony=3,total_sqft=1750,bhk=3,price_per_sqft=8514.285714,area_type="Built-up  Area",availability="Ready To Move",location="other")

Warning: area_type 'Built-up  Area' not found in training data. Assuming a value of 0.

/usr/local/lib/python3.12/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

np.float64(149.15)